@model OnlineStore.Data.Entities.Product

<div class="row">
    <dl class="col-md-8">
        @* Column 1 *@
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.LastPurchase)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.LastPurchase)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.LastSale)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.LastSale)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Stock)
        </dd>
    </dl>
    <div class="col-md-4">
        @* Column 2 *@
        @if (!string.IsNullOrEmpty(Model.ImageUrl)) @* If image url exists *@
        {
            <img src="@Url.Content(Model.ImageUrl)" alt="Image" style="width:300px;height:450px;max-width:100%;height:auto" /> @* Get image from path *@ @* 'Content': application path. *@
        }
    </div>
</div>