@model UF5423_SuperShop.Data.Entities.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Product Details</h1>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductLastPurchase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductLastPurchase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductLastSale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductLastSale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductIsAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductIsAvailable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductStock)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductId" class="btn btn-primary">Edit</a> @*'asp-controller' automatically defined as current controller.*@
    <a asp-action="Index" class="btn btn-danger">Cancel</a>
</div>
