@model IEnumerable<UF5423_SuperShop.Data.Entities.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>All Products</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name) @*display UI name.*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastPurchase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastSale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.ImageUrl)) @* If image url exists *@ @* 'item': each Model in list Model. *@
                    {
                        <img src="@Url.Content(item.ImageUrl)" alt="Image" style="width:100px;height:150px;max-width:100%;height:auto"/> @* Get image from path *@ @* 'Content': application path. *@
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastPurchase)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastSale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAvailable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="text-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="text-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
